<!DOCTYPE html>
<html>
<head>
    <title>Currency Configurator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <form action="/" method="post">
            <label for="BASE_CURRENCY">Base Currency:</label>
                <select name="BASE_CURRENCY">
                    <option value="EUR" {{ 'selected' if base_currency == 'EUR' else '' }}>EURO</option>
                    <option value="ZAR" {{ 'selected' if base_currency == 'ZAR' else '' }}>ZAR</option>
                    <option value="USD" {{ 'selected' if base_currency == 'USD' else '' }}>USD</option>
                    <option value="CAD" {{ 'selected' if base_currency == 'CAD' else '' }}>CAD</option>
                    <option value="GBP" {{ 'selected' if base_currency == 'GBP' else '' }}>GBP</option>
                    <option value="CHF" {{ 'selected' if base_currency == 'CHF' else '' }}>CHF</option>
                </select>

                <label for="TARGET_CURRENCY">Target Currency:</label>
                <select name="TARGET_CURRENCY">
                    <option value="EUR" {{ 'selected' if target_currency == 'EUR' else '' }}>EURO</option>
                    <option value="ZAR" {{ 'selected' if target_currency == 'ZAR' else '' }}>ZAR</option>
                    <option value="USD" {{ 'selected' if target_currency == 'USD' else '' }}>USD</option>
                    <option value="CAD" {{ 'selected' if target_currency == 'CAD' else '' }}>CAD</option>
                    <option value="CHF" {{ 'selected' if target_currency == 'CHF' else '' }}>CHF</option>
                    <option value="GBP" {{ 'selected' if target_currency == 'GBP' else '' }}>GBP</option>
                </select>

            <input type="submit" value="Apply Settings">
        </form>
    </div>
</body>
</html>
